.advantages {
  max-width: 1290px;
  margin: 0 auto;
  padding: 111px 60px 45px;

  @media (max-width: $to-desktop-width) {
    padding: 54px 25px 25px;
  }

  @media (max-width: $to-tablet-width) {
    padding: 38px 15px 27px;
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $to-tablet-width) {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  position: relative;

  min-height: 299px;
  padding: 96px 41px 64px;

  color: $color-blue;

  background-color: $color-white;
  border: 1px solid $color-border-special;
  border-left: 3px solid $color-blue;

  @media (max-width: $to-desktop-width) {
    min-height: auto;
    padding: 66px 25px 20px;

    border-left: 2px solid $color-blue;

    &--confidentiality {
      min-height: 233px;
      padding-top: 64px;
      padding-right: 21px;
    }
  }

  @media (max-width: $to-tablet-width) {
    min-height: 233px;
    padding: 71px 25px 24px;

    &--provider {
      padding: 68px 12px 28px 25px;
    }

    &--confidentiality {
      padding-top: 62px;
      padding-right: 15px;
    }

    &--price {
      padding-top: 67px;
      padding-right: 15px;
      padding-bottom: 19px;
    }
  }

  &:hover {
    color: $color-white;

    background-color: $color-blue;
    border-color: $color-blue;
  }
}


.advantages__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-family: $font-family--roboto-condensed;
  color: $color-blue;

  @media (max-width: $to-desktop-width) {
    margin-bottom: 8px;

    &--confidentiality {
      margin-bottom: 14px;
    }
  }

  @media (max-width: $to-tablet-width) {
    font-size: 20px;
    line-height: 28px;

    &--confidentiality {
      margin-bottom: 17px;
    }

    &--price {
      margin-bottom: 17px;
    }
  }
}

.advantages__text {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-dark-grey;
}

.advantages__item:hover .advantages__text,
.advantages__item:hover .advantages__title {
  color: $color-white;
}

.advantages__item svg {
  position: absolute;
  top: 41px;
  left: 42px;

  fill: currentColor;

  @media (max-width: $to-desktop-width) {
    top: 22px;
    left: 25px;
  }
}

.advantages__item--provider svg {
  @media (max-width: $to-desktop-width) {
    top: 22px;
    left: 25px;
    width: 33px;
    height: 35px;
  }

  @media (max-width: $to-tablet-width) {
    top: 24px;

    width: 32px;
    height: 32px;
  }
}

.advantages__item--confidentiality svg {
  @media (max-width: $to-desktop-width) {
    top: 26px;

    width: 30px;
    height: 26px;
  }

  @media (max-width: $to-tablet-width) {
    top: 24px;
  }
}
