.contacts {
  width: 356px;

  @media (max-width: $desktop-middle-width) {
    width: 250px;
  }

  @media (max-width: $to-desktop-width) {
    width: 385px;
    padding: 20px 32px 20px 16px;
  }

  @media (max-width: $to-tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.contacts__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $to-tablet-width) {
    padding: 5px 15px 26px;
  }
}

.contacts__title {
  max-width: 300px;
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: $font-family--roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $to-tablet-width) {
    max-width: 90%;
    margin: 0;

    pointer-events: none;
  }
}

.contacts__address {
  margin: 0;

  font-size: 15px;
  line-height: 25px;
  color: $color-dark-blue;

  opacity: 0.5;
}

.contacts__link {
  font-size: 15px;
  line-height: 25px;
  color: $color-dark-blue;

  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
