.main-nav {
  width: 42%;
  margin-left: 8px;

  @media (max-width: $desktop-middle-width) {
    width: auto;
    margin-left: 0;
  }

  @media (max-width: $to-desktop-width) {
    padding: 20px 20px 20px 25px;
  }

  @media (max-width: $to-tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: none;
    padding: 27px 15px 25px;

    border-bottom: 1px solid rgba($color-border, 0.2);
  }
}

.main-nav__title {
  max-width: 300px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 16px;
  font-family: $font-family--roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $to-tablet-width) {
    max-width: 250px;
    margin: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  column-count: 2;

  @media (max-width: $desktop-middle-width) {
    column-count: 1;
  }

  @media (max-width: $to-tablet-width) {
    margin-top: 29px;
  }
}

.main-nav__link {
  font-size: 15px;
  line-height: 25px;
  color: $color-dark-blue;

  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
