.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media (max-width: $to-desktop-width) {
    align-items: center;
    width: 113px;
    margin-top: 2px;
  }

  @media (max-width: $to-tablet-width) {
    width: auto;
    max-width: 300px;
    margin: 0;
    margin-left: 15px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $to-desktop-width) {
    margin: 0;
  }

  @media (max-width: $to-tablet-width) {
    margin: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social__link {
  display: block;
}

.social__icon {
  fill: $color-light;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $color-blue;
}

.social__link:active .social__icon {
  opacity: 0.4;

  fill: $color-blue;
}
