*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: $font-family--pt-mono;
  color: $color-dark-grey;

  background-color: $color-white;

  grid-template-rows: min-content 1fr min-content;
}

.logo {
  display: block;
  width: 202px;
  height: 52px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:not(a[href]) {
    pointer-events: none;
  }
}



.accordion-block {
  @media (max-width: $to-tablet-width) {
    display: none;
    width: 100%;
  }
}

.accordion-button.open + .accordion-block {
  @media (max-width: $to-tablet-width) {
    display: block;
  }
}

.container {
  min-width: 320px;

  background-image: url("../img/svg/triangles-big.svg");
  background-repeat: no-repeat;
  background-position: 0 -29px;
  background-size: cover;

  @media (max-width: $to-desktop-width) {
    background-image: url("../img/svg/triangles-big-tablet.svg");
    background-position: 100% calc(37% + 1px);
    background-size: 559px 873px;
  }

  @media (max-width: $to-tablet-width) {
    background-position: top calc(68% + 12px) right -119px;
  }
}
