// Color
//---------------------------------

$color-white: #ffffff;
$color-black: #000000;

$color-blue: #00b2ff;
$color-grey: #c4c4c4;
$color-light: #cdcdcd;
$color-grey-light: #fafafa;
$color-dark-grey: #666666;
$color-dark-blue: #1b2d37;
$color-border: #626962;
$color-border-special: #ebebeb;
$color-error: #ff0000;


// Fonts
//---------------------------------

$font-family--pt-mono: "PT-Mono", "Arial", sans-serif;
$font-family--roboto-condensed: "Roboto-Condensed", "Arial", sans-serif;

// Viewports
//---------------------------------

$mobile-width: 320px;
$to-tablet-width: 767px;
$to-desktop-width: 1023px;
$desktop-middle-width: 1260px;
