// Color
//---------------------------------

$color-white: #ffffff;
$color-black: #000000;

$color-blue: #00b2ff;
$color-grey: #c4c4c4;
$color-dark-grey: #666666;
$color-dark-blue: #1b2d37;

// Fonts
//---------------------------------

$font-family--pt-mono: "PT-Mono", "Arial", sans-serif;
$font-family--roboto-condensed: "Roboto-Condensed", "Arial", sans-serif;

// Viewports
//---------------------------------

$mobile-width: 320px;
$to-tablet-width: 767px;
$tablet-width: 768px;
$to-desktop-width: 1023px;
$desktop-width: 1024px;
$max-desktop-width: 1478px;
